$orange: #BC4639;
$tan: #F3E0DC;
$white: #fff;
$offwhite: #F4F4F4;

.lightbulb {
  max-height: 500px;
}

.services{
  display: flex;
  justify-content: space-between;

  .box{
    width: 33%;
    padding: 10px 0;

    p{
      background-color: $orange;
      text-align: center;
      margin: 0 auto;
      padding: 20px;
      color: $white;
    }

    img{
      width: 100%;
    }
  }
}


.gofromhere{

  h2 {
    text-align: center;
  }

  .container{
    display: flex;
    justify-content: space-between;

    .box{
      width: 33%;
      text-align: center;

      i, svg{
        font-size: 5em;
        color: $orange;
      }
    }
  }
}

//MOBILE
@media only screen and (max-width: 768px) {
  .services{
    display: block;

    .box{
      width: 100%;
    }
  }

  .gofromhere{

    .container{
      display: block;

      .box{
        width: 100%;
      }
    }
  }

  .container.row{
    display: block;
  }

  .social{
    text-align: center;
  }
}
