canvas {
  position: fixed;
  top: 0;
  z-index: -1;
}

html {
  scroll-snap-type: y mandatory;
}

.home {

  section {
    height: 100vh;
    padding: 0 20%;
    background-color: transparent;
    display: flex;
    align-items: center;
    scroll-snap-align: start;

    &.home__contact {
      height: calc(100vh - 150px);
    }

    &.home__intro {
      //height: calc(100vh - 179px);
    }
  }

  &__disrupt-click {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    margin: 0 20px;
    transition: width .25s, height .25s, margin .25s;

    &:hover {
      width: 125px;
      height: 125px;
      margin: 0 10px;
      cursor: pointer;
    }
  }
}
