canvas {
  position: fixed;
  top: 0;
  z-index: -1;
}

.home {
  .layout__child-container {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }

  section {
    height: 100vh;
    padding: 0 20%;
    background-color: transparent;
    display: flex;
    align-items: center;
    scroll-snap-align: start;

    &.home__contact {
      height: calc(100vh - 150px);
    }

    &.home__intro {
      //height: calc(100vh - 179px);
    }
  }

  &__disrupt {
    &-click {
      width: 100px;
      height: 100px;
      background-color: red;
      border-radius: 50%;
      margin: 0 20px;
      transition: width .25s, height .25s, margin .25s;

      &:hover {
        width: 125px;
        height: 125px;
        margin: 0 10px;
        cursor: pointer;
      }
    }
  }


}

@media only screen and (max-width: 768px) {
  .home {
    header {
      padding: inherit;
    }

    &__disrupt {
      &-click {
        margin: inherit;
        height: 40px;
        width: 40px;
        display: table;
      }
    }

    section {
      padding: 0 5%;

      &.home__contact {
        form {
          margin-top: 60px;
        }
      }
    }
  }
}
