$orange: #BC4639;

header{
  padding: 0 1rem;
  border-bottom: 3px solid $orange;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFF;

  .links {
    display: flex;
    list-style-type: none;

    a {
      text-decoration: none;
      font-size: 1.1rem;

      &:hover {
        color: #007aff;
      }
    }
  }

  .logo{
    text-align: center;
    font-family: 'Comfortaa', cursive;

    &--mobile {
      display: none;
    }
  }

  .social{
    margin-left: 30px;

    img {
      height: 40px;
    }
  }
}

@media only screen and (max-width: 800px) {
  header {

    .row {
      display: block;

      .social {
        margin-left: 0;
      } 

      .links {
        padding-left: 0;
        justify-content: space-between;
      }
    }

    .logo {
      display: none;

      &--mobile {
        display: block;
      }
    }
  }
}
